// Main Colors
$colors: (
  primary: #005dff,
  primary-light: lighten(#005dff, 40%),
  primary-dark: darken(#005dff, 40%),
  accent: rgba(230, 230, 230, 0.5),
  accent-dark: rgba(150, 150, 150, 0.5),
  bg-light: rgba(230, 230, 230, 0.3),
  bg-dark: rgba(0, 0, 0, 0.4),
  submit: #00ffaa
);

// Media Query Sizes w/mixin for ease of use
$desktop: 900px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

// Color function that loops through all colors and makes it easier to select them
@function color($color-name) {
  @return map-get($colors, $color-name);
}

// Set box-sizing to border-box
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Remove margins
body {
  margin: 0;
}

/* ==== NAVIGATION ==== */

header {
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;

  .logo {
    flex: 0.5;
    max-width: 20em;
    min-height: 1.5em;
  }

  nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin-bottom: 0.1em;
        padding: 1em;
        background-color: color(accent);

        a {
          color: #000;
          text-decoration: none;
          font-size: 1.2em;
          opacity: 0;
          transition: opacity 150ms ease-in-out;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }

  .nav--btn-anchor {
    border: 2px solid color(primary);
    background-color: #fff;
    border-radius: 2px;
    color: color(primary);
    padding: 0.6em;
    text-decoration: none;
    font-size: 0.8em;

    &:hover {
      background-color: color(accent);
    }

    img {
      max-width: 1em;
      vertical-align: bottom;
    }
  }

  .nav-toggle {
    display: none;
  }

  .nav-toggle-label img,
  .nav-toggle-label img::before,
  .nav-toggle-label img::after {
    width: 4em;
  }

  .nav-toggle:checked ~ nav {
    transform: scale(1, 1);
  }

  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }
}
