$colors: (
  primary: #005dff,
  primary-light: lighten(#005dff, 40%),
  primary-dark: darken(#005dff, 40%),
  accent: rgba(230, 230, 230, 0.5),
  accent-dark: rgba(150, 150, 150, 0.5),
  bg-light: rgba(230, 230, 230, 0.3),
  bg-dark: rgba(0, 0, 0, 0.4),
  submit: #00ffaa
);

$desktop: 900px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@function color($color-name) {
  @return map-get($colors, $color-name);
}

body,
html {
  height: 100%;
  margin: 0;
}

main {
  background-color: color(bg-light);
  @include desktop {
    background-color: #fff;
  }
}

header.navigation {
  width: 100%;
}

.main-banner {
  width: 100%;
  overflow: hidden;
}

.hidden {
  display: none;
}

nav {
  padding-bottom: 2em;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);

  .nav-logo {
    width: 10em;
    margin: 0;
    padding: 0;
    position: relative;
    left: 0.5em;
    top: 1.2em;

    @include desktop {
      padding: 0 3em;
    }
  }

  aside {
    float: left;
    display: none;

    @include desktop {
      display: inline-block;
      float: none;
      position: relative;
      left: 20em;
      top: 1em;
    }

    a {
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;

      @include desktop {
        float: left;
        padding: 0;
        color: color(primary);
        border: none;
        padding: 0 1.5em;
      }
    }
  }

  a.nav-btn-anchor {
    position: relative;
    left: 2em;
    top: 1em;
    height: 0.5em;
    border: 2px solid color(primary);
    background-color: #fff;
    border-radius: 2px;
    color: color(primary);
    padding: 0.6em;
    text-decoration: none;
    font-size: 0.8em;

    @include desktop {
      position: relative;
      left: 29em;
      padding: 0.8em 1em;
    }

    img {
      height: 1.2em;
      width: 1.1em;
      vertical-align: middle;
      padding-right: 0.5em;

      @include desktop {
        height: 1.2em;
        width: 0.9em;
        padding-right: 0.3em;
        position: relative;
        bottom: 0.1em;
      }
    }

    .nav-btn-span {
      display: none;

      @include desktop {
        display: inline;
      }
    }
  }

  .menu-icon {
    float: right;
    position: relative;
    right: 0.5em;
    width: 4.7em;

    @include desktop {
      display: none;
    }
  }
}

section.filter-section {
  width: 97vw;
  margin: 0 auto;
  padding-top: 1.2em;

  @include desktop {
    background-color: color(bg-light);
    border-radius: 5px;
    padding-bottom: 1em;
    width: 90vw;
  }

  h1 {
    display: inline;
    font-size: 1.2em;

    @include desktop {
      padding-left: 4.4em;
      font-size: 1.4em;
    }
  }

  h1:nth-of-type(1) {
    color: color(primary);
    margin: 0.5em;

    @include desktop {
      margin-right: 1em;
    }
  }

  h1:nth-of-type(2) {
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 1.3em;
    padding: 0.5em;
    font-size: 1.2em;
    background-color: #fff;

    @include desktop {
      border: none;
      border-left: 1px solid color(accent);
      padding: 0;
      padding-left: 1em;
      background-color: inherit;
      font-size: 1.5em;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0.6em;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3);

    @include desktop {
      border: none;
      float: right;
      position: relative;
      right: 3em;
      bottom: 1.2em;
      background-color: inherit;
      padding: 0;
      margin: 0;
    }

    li {
      margin-bottom: 10px;

      @include desktop {
        float: left;
        font-size: 1.3em;
        position: relative;
        top: 0.4em;
        padding: 0 0.3em;
      }

      input {
        display: inline-block;
        margin-left: max(10px);
        margin-right: 10px;
        margin-top: 10px;
        border-radius: 50%;
        width: 1.3em;
        height: 1.3em;
        vertical-align: bottom;
      }

      span img {
        width: 1.1em;
        vertical-align: bottom;

        @include desktop {
          height: 1.2em;
          width: 1.2em;
          padding-left: 0.2em;
        }
      }
    }
  }
}

article#dealers-container {
  text-align: center;
  margin-bottom: 2em;

  section {
    margin: 0 auto;
    max-width: 97vw;

    @include desktop {
      max-width: 91vw;
    }

    div {
      background-color: white;
      align-self: center;
      box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
      position: relative;

      @include desktop {
        width: 32%;
        float: left;
        margin: 0.6%;
        border-radius: 5px;
        height: 650px;
      }

      h1 {
        padding-top: 1em;

        @include desktop {
          border-bottom: 1px solid color(accent-dark);
          width: 90%;
          margin: 0 auto 1em auto;
          padding-bottom: 1em;
        }
      }

      section {
        a {
          background-color: color(primary);
          border-radius: 5px;
          color: white;
          padding: 0.5em;
          text-decoration: none;

          @include desktop {
            background-color: #fff;
            color: #000;
            font-size: 1.5em;
            font-weight: 900;
          }

          span {
            @include desktop {
              display: none;
            }
          }

          img {
            height: 1.7em;
            width: 1.7em;
            padding-right: 1em;
            vertical-align: middle;
          }
        }
        button {
          border: 1px solid color(primary-light);
          background-color: #fff;
          border-radius: 5px;
          color: color(primary-dark);
          padding: 1em;
          text-decoration: none;

          @include desktop {
            border: 2px solid color(submit);
            border-radius: 2px;
          }

          img {
            height: 1.2em;
            width: 1.5em;
            padding-right: 1em;
            vertical-align: middle;
          }
        }
        section.hours-section {
          margin-bottom: 3em;
        }

        section.certs-section {
          background-color: color(accent);
          display: grid;
          grid-template-columns: 50% auto;

          @include desktop {
            width: 100%;
            overflow: hidden;
            position: absolute;
            bottom: 0;
            height: 136px;
          }

          grid-template-areas:
            "primary secondary"
            "third fourth";

          p:nth-of-type(1) {
            grid-area: primary;
          }
          p:nth-of-type(2) {
            grid-area: secondary;
          }
          p:nth-of-type(3) {
            grid-area: third;
          }
          p:nth-of-type(4) {
            grid-area: fourth;
          }
        }
      }
    }
  }
}

section.connect-container {
  background-color: color(primary-dark);
  color: #fff;
  text-align: center;

  @include desktop {
    clear: both;
  }

  img {
    height: 2em;
    width: 13em;
    margin-top: 2em;
  }

  div {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas: "primary secondary";
    align-items: center;

    h1 {
      grid-area: primary;
      font-size: 1em;
    }

    div {
      display: inline-block;
      grid-area: secondary;
      line-height: 67px;
      img {
        width: 1em;
        height: 1em;
        padding: 0.5em;
      }
    }
  }
}

section.info-container {
  background-color: color(primary);
  text-align: center;
  padding: 1em;

  a {
    text-decoration: none;
    color: #fff;
    padding: 0.8em;
  }

  a:nth-of-type(1) {
    border-right: 1px solid #fff;
  }

  img {
    height: 1em;
    width: 1em;
    padding-left: 0.3em;
    vertical-align: top;
  }
}

footer {
  background-color: color(primary);
  text-align: center;
  padding: 1em;
  color: #fff;

  p {
    display: inline;
    font-size: 0.7em;
    padding: 1em;
  }

  p:not(:last-child) {
    border-right: 1px solid #fff;
  }

  a {
    text-decoration: none;
    color: #fff;
  }
}

article.modal {
  /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: -5em;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: color(bg-dark);
  text-align: justify;

  header {
    background-color: color(primary-dark);
    color: #fff;
    padding: 2em 1em;
    margin: 0;
  }

  img {
    height: 1em;
    width: 1em;
  }

  div {
    background-color: #fefefe;
    margin: 0 auto;
    padding: 0;
    border: 1px solid #888;
    width: 93%;

    section {
      padding: 1em;

      p {
        span.modal-circle {
          float: right;
        }
      }

      input,
      textarea {
        border: 1px solid color(accent-dark);
        width: 100%;
      }
    }

    p.p-radio {
      margin: 1em 0 0 0;
    }

    div.modal-radios {
      display: grid;
      grid-template-columns: 25%;
      grid-template-areas: "primary secondary third fourth";
      border: none;
      text-align: justify;
      margin-left: 0.1em;

      label:nth-of-type(1) {
        grid-area: primary;
      }

      label:nth-of-type(2) {
        grid-area: secondary;
      }

      input {
        position: relative;
        top: 1.2em;
      }
    }

    #modal-submit {
      border: none;
      background-color: #fff;
      text-align: right;
      color: color(submit);
    }

    footer {
      display: none;
    }
  }
}
