body,
html {
  height: 100%;
  margin: 0;
}

main {
  background-color: rgba(230, 230, 230, 0.3);
}

header.navigation {
  width: 100%;
}

.main-banner {
  width: 100%;
  overflow: hidden;
}

.hidden {
  display: none;
}

nav {
  padding-bottom: 2em;
  -webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
}

nav .nav-logo {
  width: 10em;
  margin: 0;
  padding: 0;
  position: relative;
  left: 0.5em;
  top: 1.2em;
}

nav aside {
  float: left;
  display: none;
}

nav aside a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a {
  position: relative;
  left: 2em;
  top: 1em;
  height: 0.5em;
  border: 2px solid #005dff;
  background-color: #fff;
  border-radius: 2px;
  color: #005dff;
  padding: 0.6em;
  text-decoration: none;
  font-size: 0.8em;
}

nav a img {
  height: 1.2em;
  width: 1.1em;
  vertical-align: middle;
  padding-right: 0.5em;
}

nav .menu-icon {
  float: right;
  position: relative;
  right: 0.5em;
  width: 4.7em;
}

section.filter-section {
  width: 97vw;
  margin: 0 auto;
  padding-top: 1.2em;
}

section.filter-section h1 {
  display: inline;
  font-size: 1.2em;
}

section.filter-section h1:first-child {
  color: #005dff;
  margin: 0.5em;
}

section.filter-section h1:nth-of-type(2) {
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 1.3em;
  padding: 0.5em;
  font-size: 1.2em;
  background-color: #fff;
}

section.filter-section ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0.6em;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

section.filter-section ul li {
  margin-bottom: 10px;
}

section.filter-section ul li input {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 50%;
  width: 1.3em;
  height: 1.3em;
  vertical-align: bottom;
}

section.filter-section ul li span img {
  width: 1.1em;
  vertical-align: bottom;
}

article#dealers-container {
  text-align: center;
}

article#dealers-container section {
  margin: 0 auto;
  max-width: 97vw;
}

article#dealers-container section div {
  background-color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
}

article#dealers-container section div h1 {
  padding-top: 1em;
}

article#dealers-container section div section a {
  background-color: #005dff;
  border-radius: 5px;
  color: white;
  padding: 0.5em;
  text-decoration: none;
}

article#dealers-container section div section a img {
  height: 1.7em;
  width: 1.7em;
  padding-right: 1em;
  vertical-align: middle;
}

article#dealers-container section div section button {
  border: 1px solid #ccdfff;
  background-color: #fff;
  border-radius: 5px;
  color: #001333;
  padding: 1em;
  text-decoration: none;
}

article#dealers-container section div section button img {
  height: 1.2em;
  width: 1.5em;
  padding-right: 1em;
  vertical-align: middle;
}

article#dealers-container section div section section.hours-section {
  margin-bottom: 3em;
}

article#dealers-container section div section section.certs-section {
  background-color: rgba(230, 230, 230, 0.5);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% auto;
      grid-template-columns: 50% auto;
      grid-template-areas: "primary secondary" "third fourth";
}

article#dealers-container section div section section.certs-section p:nth-of-type(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: primary;
}

article#dealers-container section div section section.certs-section p:nth-of-type(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: secondary;
}

article#dealers-container section div section section.certs-section p:nth-of-type(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: third;
}

article#dealers-container section div section section.certs-section p:nth-of-type(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: fourth;
}

section.connect-container {
  background-color: #001333;
  color: #fff;
  text-align: center;
}

section.connect-container img {
  height: 2em;
  width: 13em;
  margin-top: 2em;
}

section.connect-container div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% auto;
      grid-template-columns: 50% auto;
      grid-template-areas: "primary secondary";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.connect-container div h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: primary;
  font-size: 1em;
}

section.connect-container div div {
  display: inline-block;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: secondary;
  line-height: 67px;
}

section.connect-container div div img {
  width: 1em;
  height: 1em;
  padding: 0.5em;
}

section.info-container {
  background-color: #005dff;
  text-align: center;
  padding: 1em;
}

section.info-container a {
  text-decoration: none;
  color: #fff;
  padding: 0.8em;
}

section.info-container a:nth-of-type(1) {
  border-right: 1px solid #fff;
}

section.info-container img {
  height: 1em;
  width: 1em;
  padding-left: 0.3em;
  vertical-align: top;
}

footer {
  background-color: #005dff;
  text-align: center;
  padding: 1em;
  color: #fff;
}

footer p {
  display: inline;
  font-size: 0.7em;
  padding: 1em;
}

footer p:not(:last-child) {
  border-right: 1px solid #fff;
}

footer a {
  text-decoration: none;
  color: #fff;
}

article.modal {
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: -5em;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  text-align: justify;
}

article.modal header {
  background-color: #001333;
  color: #fff;
  padding: 2em 1em;
  margin: 0;
}

article.modal img {
  height: 1em;
  width: 1em;
}

article.modal div {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 0;
  border: 1px solid #888;
  width: 93%;
}

article.modal div section {
  padding: 1em;
}

article.modal div section p span {
  float: right;
}

article.modal div section input,
article.modal div section textarea {
  border: 1px solid rgba(150, 150, 150, 0.5);
  width: 100%;
}

article.modal div p.p-radio {
  margin: 1em 0 0 0;
}

article.modal div div.modal-radios {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25%;
      grid-template-columns: 25%;
      grid-template-areas: "primary secondary third fourth";
  border: none;
  text-align: justify;
  margin-left: 0.1em;
}

article.modal div div.modal-radios label:nth-of-type(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: primary;
}

article.modal div div.modal-radios label:nth-of-type(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: secondary;
}

article.modal div div.modal-radios input {
  position: relative;
  top: 1.2em;
}

article.modal div #modal-submit {
  border: none;
  background-color: #fff;
  text-align: right;
  color: #00ffaa;
}

article.modal div footer {
  display: none;
}
/*# sourceMappingURL=style.css.map */