body,
html {
  height: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top {
  display: none;
  height: 50px;
  width: 100%;
}

@media (min-width: 900px) {
  .top {
    display: block;
  }
}

main {
  background-color: rgba(230, 230, 230, 0.3);
}

@media (min-width: 900px) {
  main {
    background-color: #fff;
  }
}

header.navigation {
  width: 100%;
}

.main-banner {
  width: 100%;
  overflow: hidden;
}

@media (min-width: 900px) {
  .main-banner {
    min-width: 100%;
    padding-top: 1em;
  }
}

.hidden {
  display: none;
}

nav {
  padding-bottom: 2em;
  -webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
}

nav .nav-logo {
  width: 10em;
  margin: 0;
  padding: 0;
  position: relative;
  left: 0.5em;
  top: 1.2em;
}

@media (min-width: 900px) {
  nav .nav-logo {
    padding: 0 3em;
  }
}

nav aside {
  float: left;
  display: none;
}

@media (min-width: 900px) {
  nav aside {
    display: inline-block;
    float: none;
    position: relative;
    left: 20em;
    top: 1em;
  }
}

nav aside a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

@media (min-width: 900px) {
  nav aside a {
    float: left;
    padding: 0;
    color: #005dff;
    border: none;
    padding: 0 1.5em;
  }
}

nav a.nav-btn-anchor {
  position: relative;
  left: 2em;
  top: 1em;
  height: 0.5em;
  border: 2px solid #005dff;
  background-color: #fff;
  border-radius: 2px;
  color: #005dff;
  padding: 0.6em;
  text-decoration: none;
  font-size: 0.8em;
}

@media (min-width: 900px) {
  nav a.nav-btn-anchor {
    position: relative;
    left: 29em;
    padding: 0.8em 1em;
  }
}

nav a.nav-btn-anchor img {
  height: 1.2em;
  width: 1.1em;
  vertical-align: middle;
  padding-right: 0.5em;
}

@media (min-width: 900px) {
  nav a.nav-btn-anchor img {
    height: 1.2em;
    width: 0.9em;
    padding-right: 0.3em;
    position: relative;
    bottom: 0.1em;
  }
}

nav a.nav-btn-anchor .nav-btn-span {
  display: none;
}

@media (min-width: 900px) {
  nav a.nav-btn-anchor .nav-btn-span {
    display: inline;
  }
}

nav .menu-icon {
  float: right;
  position: relative;
  right: 0.5em;
  width: 4.7em;
}

@media (min-width: 900px) {
  nav .menu-icon {
    display: none;
  }
}

section.filter-section {
  width: 97vw;
  margin: 0 auto;
  padding-top: 1.2em;
}

@media (min-width: 900px) {
  section.filter-section {
    background-color: rgba(230, 230, 230, 0.3);
    border-radius: 5px;
    padding-bottom: 1em;
    width: 90vw;
  }
}

section.filter-section h1 {
  display: inline;
  font-size: 1.2em;
}

@media (min-width: 900px) {
  section.filter-section h1 {
    padding-left: 4.4em;
    font-size: 1.4em;
  }
}

section.filter-section h1:nth-of-type(1) {
  color: #005dff;
  margin: 0.5em;
}

@media (min-width: 900px) {
  section.filter-section h1:nth-of-type(1) {
    margin-right: 1em;
  }
}

section.filter-section h1:nth-of-type(2) {
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 1.3em;
  padding: 0.5em;
  font-size: 1.2em;
  background-color: #fff;
}

@media (min-width: 900px) {
  section.filter-section h1:nth-of-type(2) {
    border: none;
    border-left: 1px solid rgba(230, 230, 230, 0.5);
    padding: 0;
    padding-left: 1em;
    background-color: #f7f7f7;
    font-size: 1.5em;
  }
}

section.filter-section ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0.6em;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

@media (min-width: 900px) {
  section.filter-section ul {
    border: none;
    float: right;
    position: relative;
    right: 3em;
    bottom: 1.2em;
    background-color: #f7f7f7;
    padding: 0;
    margin: 0;
  }
}

section.filter-section ul li {
  margin-bottom: 10px;
}

@media (min-width: 900px) {
  section.filter-section ul li {
    float: left;
    font-size: 1.3em;
    position: relative;
    top: 0.4em;
    padding: 0 0.3em;
  }
}

section.filter-section ul li input {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 50%;
  width: 1.3em;
  height: 1.3em;
  vertical-align: bottom;
}

section.filter-section ul li span img {
  width: 1.1em;
  vertical-align: bottom;
}

@media (min-width: 900px) {
  section.filter-section ul li span img {
    height: 1.2em;
    width: 1.2em;
    padding-left: 0.2em;
  }
}

article#dealers-container {
  text-align: center;
  margin-bottom: 2em;
}

article#dealers-container section {
  margin: 0 auto;
  max-width: 97vw;
}

@media (min-width: 900px) {
  article#dealers-container section {
    max-width: 91vw;
  }
}

article#dealers-container section div {
  background-color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

@media (min-width: 900px) {
  article#dealers-container section div {
    width: 32%;
    float: left;
    margin: 0.6%;
    border-radius: 5px;
    height: 650px;
  }
}

article#dealers-container section div h1 {
  padding-top: 1em;
}

@media (min-width: 900px) {
  article#dealers-container section div h1 {
    border-bottom: 1px solid rgba(150, 150, 150, 0.5);
    width: 90%;
    margin: 0 auto 1em auto;
    height: 80px;
  }
}

article#dealers-container section div section a {
  background-color: #005dff;
  border-radius: 5px;
  color: white;
  padding: 0.5em;
  text-decoration: none;
}

@media (min-width: 900px) {
  article#dealers-container section div section a {
    background-color: #fff;
    color: #000;
    font-size: 1.5em;
    font-weight: 900;
  }
}

@media (min-width: 900px) {
  article#dealers-container section div section a span {
    display: none;
  }
}

article#dealers-container section div section a img {
  height: 1.7em;
  width: 1.7em;
  padding-right: 1em;
  vertical-align: middle;
}

article#dealers-container section div section button {
  border: 1px solid #ccdfff;
  background-color: #fff;
  border-radius: 5px;
  color: #001333;
  padding: 1em;
  text-decoration: none;
}

@media (min-width: 900px) {
  article#dealers-container section div section button {
    border: 2px solid #00ffaa;
    border-radius: 2px;
  }
}

article#dealers-container section div section button img {
  height: 1.2em;
  width: 1.5em;
  padding-right: 1em;
  vertical-align: middle;
}

article#dealers-container section div section section.hours-section {
  margin-bottom: 3em;
}

article#dealers-container section div section section.certs-section {
  background-color: rgba(230, 230, 230, 0.5);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% auto;
      grid-template-columns: 50% auto;
      grid-template-areas: "primary secondary" "third fourth";
}

@media (min-width: 900px) {
  article#dealers-container section div section section.certs-section {
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    height: 136px;
  }
}

article#dealers-container section div section section.certs-section p:nth-of-type(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: primary;
  padding-top: 1em;
}

article#dealers-container section div section section.certs-section p:nth-of-type(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: secondary;
  padding-top: 1em;
}

article#dealers-container section div section section.certs-section p:nth-of-type(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: third;
}

article#dealers-container section div section section.certs-section p:nth-of-type(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: fourth;
}

section.connect-container {
  background-color: #001333;
  color: #fff;
  text-align: center;
}

@media (min-width: 900px) {
  section.connect-container {
    clear: both;
  }
}

section.connect-container img {
  height: 2em;
  width: 13em;
  margin-top: 2em;
}

section.connect-container div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% auto;
      grid-template-columns: 50% auto;
      grid-template-areas: "primary secondary";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 900px) {
  section.connect-container div {
    -ms-grid-columns: 5% auto;
        grid-template-columns: 5% auto;
        grid-template-areas: "a a a a a a a a primary secondary  b b b b b b b b";
  }
}

section.connect-container div h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: primary;
  font-size: 1em;
}

section.connect-container div div {
  display: inline-block;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: secondary;
  line-height: 67px;
}

section.connect-container div div img {
  width: 1em;
  height: 1em;
  padding: 0.5em;
}

section.info-container {
  background-color: #005dff;
  text-align: center;
  padding: 1em;
}

@media (min-width: 900px) {
  section.info-container {
    background-color: #001333;
    max-width: 97.5%;
  }
}

@media (min-width: 900px) {
  section.info-container {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: right;
  }
}

section.info-container a {
  text-decoration: none;
  color: #fff;
  padding: 0.8em;
}

@media (min-width: 900px) {
  section.info-container a {
    padding-right: 4em;
  }
}

section.info-container a:nth-of-type(1) {
  border-right: 1px solid #fff;
}

@media (min-width: 900px) {
  section.info-container a:nth-of-type(1) {
    border: none;
    padding-right: 2em;
  }
}

section.info-container img {
  height: 1em;
  width: 1em;
  padding-left: 0.3em;
  vertical-align: top;
}

footer {
  background-color: #005dff;
  text-align: center;
  padding: 1em;
  color: #fff;
}

footer p {
  display: inline;
  font-size: 0.7em;
  padding: 1em;
}

footer p:not(:last-child) {
  border-right: 1px solid #fff;
}

footer a {
  text-decoration: none;
  color: #fff;
}

article.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: -5em;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: justify;
}

@media (min-width: 900px) {
  article.modal {
    width: 50%;
    left: 20em;
  }
}

article.modal header {
  background-color: #001333;
  color: #fff;
  padding: 2em 1em;
  margin: 0;
}

@media (min-width: 900px) {
  article.modal header {
    height: 75px;
    padding-top: 0.7em;
  }
}

article.modal img {
  height: 1em;
  width: 1em;
}

article.modal div {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 0;
  border: 1px solid #888;
  width: 93%;
}

article.modal div section {
  padding: 1em;
}

@media (min-width: 900px) {
  article.modal div section form {
    background-color: rgba(230, 230, 230, 0.5);
    padding: 1em;
  }
}

article.modal div section p span.modal-circle,
article.modal div section p span.modal-optional {
  float: right;
}

article.modal div section input,
article.modal div section textarea {
  border: 1px solid rgba(150, 150, 150, 0.5);
  width: 100%;
}

article.modal div p.p-radio {
  margin: 1em 0 0 0;
}

article.modal div div.modal-radios {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25%;
      grid-template-columns: 25%;
      grid-template-areas: "primary secondary third fourth";
  border: none;
  text-align: justify;
  margin-left: 0.1em;
}

@media (min-width: 900px) {
  article.modal div div.modal-radios {
    background-color: #f2f2f2;
    border-bottom: 1px solid rgba(150, 150, 150, 0.5);
    width: 100%;
    padding-bottom: 1em;
  }
}

article.modal div div.modal-radios input:nth-of-type(1),
article.modal div div.modal-radios label:nth-of-type(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: primary;
  margin-top: 1em;
}

article.modal div div.modal-radios input:nth-of-type(2),
article.modal div div.modal-radios label:nth-of-type(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: secondary;
  margin-top: 1em;
}

@media (min-width: 900px) {
  article.modal div div.modal-radios {
    -ms-grid-columns: 20% auto;
        grid-template-columns: 20% auto;
  }
  article.modal div div.modal-radios label {
    border: 1px solid #000;
    border-radius: 2px;
    padding: 0.5em;
    width: 3em;
  }
  article.modal div div.modal-radios label:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
  article.modal div div.modal-radios label:active {
    background-color: #00ffaa;
    color: #fff;
  }
  article.modal div div.modal-radios input {
    opacity: 0;
  }
}

article.modal div div.submit-div {
  border: none;
}

@media (min-width: 900px) {
  article.modal div div.submit-div {
    text-align: center;
    font-weight: 900;
    white-space: nowrap;
  }
}

article.modal div div.submit-div #modal-submit {
  border: none;
  background-color: #fff;
  text-align: right;
  color: #00ffaa;
}

@media (min-width: 900px) {
  article.modal div div.submit-div #modal-submit {
    text-align: center;
    color: #000;
    font-weight: 900;
    padding: 2em;
    background-color: rgba(230, 230, 230, 0.5);
  }
}

article.modal div div.submit-div span.submit-text,
article.modal div div.submit-div img {
  display: none;
}

@media (min-width: 900px) {
  article.modal div div.submit-div span.submit-text,
  article.modal div div.submit-div img {
    display: inline;
    text-align: left;
  }
}

article.modal div footer {
  display: none;
}

@media (min-width: 900px) {
  article.modal div footer {
    display: inline-block;
    background-color: rgba(230, 230, 230, 0.3);
    color: #000;
    padding-bottom: 2em;
  }
}
/*# sourceMappingURL=style.css.map */