body,
html {
  height: 100%;
  margin: 0;
}

header.navigation {
  width: 100%;
}

.main-banner {
  overflow: hidden;
}

.hidden {
  display: none;
}

nav .nav-logo {
  width: 30%;
}

nav aside {
  float: left;
  display: none;
}

nav aside a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav .menu-icon {
  float: right;
  width: 20%;
}

section.filter-section h1 {
  display: inline;
  font-size: 1.5em;
}

section.filter-section h1:first-child {
  color: #005dff;
}

section.filter-section h1:nth-of-type(2) {
  border: 1px solid #000;
}

section.filter-section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section.filter-section ul li {
  margin-bottom: 10px;
}

section.filter-section ul li input {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 50%;
  width: 1.3em;
  height: 1.3em;
  vertical-align: bottom;
}

section.filter-section ul li span img {
  width: 1.1em;
  vertical-align: bottom;
}

section#dealers-container {
  text-align: center;
}

section#dealers-container ul {
  list-style-type: none;
}

section#dealers-container ul li {
  -webkit-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

section#dealers-container ul li h1 {
  padding-top: 1em;
}

section#dealers-container ul li section a {
  background-color: #005dff;
  border-radius: 5px;
  color: white;
  padding: 0.5em;
  text-decoration: none;
}

section#dealers-container ul li section a img {
  height: 1.7em;
  width: 1.7em;
  padding-right: 1em;
  vertical-align: middle;
}

section#dealers-container ul li section button {
  border: 1px solid #ccdfff;
  background-color: #fff;
  border-radius: 5px;
  color: #001333;
  padding: 1em;
  text-decoration: none;
}

section#dealers-container ul li section button img {
  height: 1.2em;
  width: 1.5em;
  padding-right: 1em;
  vertical-align: middle;
}

section#dealers-container ul li section section.hours-section {
  margin-bottom: 3em;
}

section#dealers-container ul li section section.certs-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% auto;
      grid-template-columns: 50% auto;
      grid-template-areas: "primary secondary" "third fourth";
}

section#dealers-container ul li section section.certs-section p:nth-of-type(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: primary;
}

section#dealers-container ul li section section.certs-section p:nth-of-type(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: secondary;
}

section#dealers-container ul li section section.certs-section p:nth-of-type(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: third;
}

section#dealers-container ul li section section.certs-section p:nth-of-type(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: fourth;
}

section.connect-container {
  background-color: #001333;
  color: #fff;
  text-align: center;
}

section.connect-container img {
  height: 2em;
  width: 13em;
  margin-top: 2em;
}

section.connect-container div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% auto;
      grid-template-columns: 50% auto;
      grid-template-areas: "primary secondary";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.connect-container div h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: primary;
  font-size: 1em;
}

section.connect-container div div {
  display: inline-block;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: secondary;
  line-height: 67px;
}

section.connect-container div div img {
  width: 1em;
  height: 1em;
  padding: 0.5em;
}

section.info-container {
  background-color: #005dff;
  text-align: center;
  padding: 1em;
}

section.info-container a {
  text-decoration: none;
  color: #fff;
  padding: 0.8em;
}

section.info-container img {
  height: 1em;
  width: 1em;
  padding-left: 0.3em;
  vertical-align: top;
}

footer {
  background-color: #005dff;
  text-align: center;
  padding: 1em;
  color: #fff;
}

footer p {
  display: inline;
  font-size: 0.7em;
  padding: 1em;
}

footer a {
  text-decoration: none;
  color: #fff;
}

article.modal {
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
}

article.modal img {
  height: 1em;
  width: 1em;
}

article.modal div {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
}

article.modal div footer {
  display: none;
}
/*# sourceMappingURL=style.css.map */